{% extends "base.html" %}
{% load static %}

{% block title %}Новости | STATUSCAR{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/news.css' %}">
<link rel="stylesheet" href="{% static "css/home.css" %}">
{% endblock %}

{% block content %}
{% load news_tags %}
{% news_tag as news %}
<section class="news-section">
    <div class="container">
        <!-- Заголовок и фильтры -->
        <div class="news-header">
            <h1>Новости автомобильного мира</h1>
            <p>Актуальные события, обзоры и аналитика автомобильного рынка</p>
        </div>

        <!-- Сетка новостей -->
        <div class="news-grid">
            <!-- Новость -->
            {% if news %}
            {% for new in news %}
            <article class="news-card" data-category="market">
                <div class="news-image">
                    <img src={{ new.image.url }} alt="{{ new.title }}">
                </div>
                <div class="news-content">
                    <div class="news-meta">
                        <span class="news-date">{{ new.created_at|date:"d.m.Y" }}</span>
                        <span class="news-views">{{ new.creator.username }}</span>
                    </div>
                    <h3>{{ new.title }}</h3>
                    <p class="news-excerpt">{{ new.description|truncatewords:20 }}</p>
                    <!-- Добавленная ссылка на страницу новости -->
                    <a href="{% url 'news_detail' new.id %}" class="read-more">Подробнее</a>
                </div>
            </article>
            {% endfor %}
            {% else %}
            <article class="news-card" data-category="market">
                <div class="news-content">
                    <h3>Пока что нет новостей</h3>
                </div>
            </article>
            {% endif %}
        </div>

        <!-- Пагинация -->
        <div class="news-pagination">
            <button class="pagination-btn active">1</button>
            <button class="pagination-btn">2</button>
            <button class="pagination-btn">3</button>
            <button class="pagination-btn next">Следующая →</button>
        </div>
    </div>
</section>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/news.js' %}"></script>
{% endblock %}