{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Объявление</title>
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="car.css">
</head>
<body>
    <header class="header">
        <div class="header__top container">
            <div class="header-top__logo">
                <img src="icons/icons8-меню-50.png">
                <h2>STATUSCAR</h2>
            </div>
            <div class="header-top__search">
                <img src="icons/icons8-поиск-50.png">
                <input type="text" placeholder="поиск по объявлениям">
            </div>
            <div class="header-top__buttons">
                <button class="header-top-buttons__button">
                    <img src="icons/icons8-сердце-48.png">
                    <p>Избранное</p>
                </button>
                <button class="header-top-buttons__button">
                    <img src="icons/free-icon-compare-5575998.png">
                    <p>Сравнения</p>
                </button>
                <button class="header-top-buttons__button">
                    <img src="icons/icons8-поиск-любви-48.png">
                    <p>Поиск</p>
                </button>
                <button class="header-top-buttons__button">
                    <img src="icons/free-icon-writing-6570260.png">
                    <p>Сообщения</p>
                </button>
                <button class="header-top-buttons__button">
                    <img src="icons/free-icon-car-16076122.png">
                    <p>Я продаю</p>
                </button>
            </div>
            <div class="header-top__right-buttons">
                <button class="header-top-right-buttons__entrance">Войти</button>
                <button class="header-top-right-buttons__place-an-ad">Разместить объявление</button>
            </div>
        </div>
        <div class="header__middle">
            <div class="header-middle__links">
                <a href="#">Виртуальная примерочная</a>
                <a href="#">Статус-рекомендации</a>
                <a href="#">Статус-фильтры</a>
                <a href="#">Калькулятор содержания</a>
                <a href="#">Статус-тренды</a>
                <a href="#">Проверить историю</a>
                <a href="#">История поисков</a>
            </div>
        </div>
        <div class="header__bottom">
            <div class="header-bottom__left">
                <a href="#">Объявления</a>
                <a href="#">Отзывы</a>
                <a href="#">Бортжурнал</a>
            </div>
            <div class="header-bottom__right">
                <button>
                    <img src="icons/icons8-маркер-40.png">Регион
                </button>
            </div>
        </div>
        <div class="header__divider"></div>
    </header>
    <div class="advertisement">
        <div class="advertisement__left">
            <div class="advertisement__title">
                <div class="advertisement-title__left">
                    <h1>Lada (ВАЗ) Vesta Sport I, 2021</h1>
                </div>
                <div class="advertisement-title__right">
                    <h5>1 410 000 ₽</h5>
                </div>
            </div>
            <div class="advertisement-after-title">
                <div class="advertisement-after-title__left">
                    <div class="advertisement-after-title-left__rating">
                        <p>Рейтинг модели</p>
                        <p>⭐</p>
                    </div>
                    <div class="advertisement-after-title-left__data">
                        <p>13 октября</p>
                        <p>145</p>
                    </div>
                    <div class="advertisement-after-title-left__number">
                        <p>№ 129980141</p>
                    </div>
                </div>
                <div class="advertisement-after-title__right">
                    <h4>Подробнее про оценку стоимости</h4>
                </div>
            </div>
            <div class="advertisement__contacts">
                <div class="advertisement-contacts__check-seller">
                    <img src="icons/shield_14867667.png">
                </div>
                <div class="advertisement-contacts__name">
                    <div class="advertisement-contacts-name__top">
                        <p>Дебрянск авто</p>
                        <img src="">
                    </div>
                    <div class="advertisement-contacts-name__bottom">
                        <p>Супонево, ул. Шоссейная д. 32.</p>
                    </div>
                </div>
                <div class="advertisement-contacts__divider"></div>
                <div class="advertisement-contacts__message">
                    <img src="icons/chat_5801758.png">
                </div>
                <div class="advertisement-contacts__divider"></div>
                <div class="advertisement-contacts__callback">
                    <img src="icons/incoming-call_6760179.png">
                    <h6>Обратный звонок</h6>
                </div>
                <div class="advertisement-contacts__phone">
                    <h5>Показать номер</h5>
                    <div class="contacts-phone__circles">
                        <div class="contacts-phone__plus">+</div>
                        <div class="contacts-phone__circle"></div>
                        <div class="contacts-phone__circle"></div>
                        <div class="contacts-phone__circle"></div>
                        <div class="contacts-phone__circle"></div>
                        <div class="contacts-phone__circle"></div>
                        <div class="contacts-phone__circle"></div>
                        <div class="contacts-phone__circle"></div>
                        <div class="contacts-phone__circle"></div>
                        <div class="contacts-phone__circle"></div>
                        <div class="contacts-phone__circle"></div>
                        <div class="contacts-phone__circle"></div>
                        <div class="contacts-phone__circle"></div>
                    </div>
                </div>
            </div>
            <div class="advertisement-about">
                <div class="advertisement-about__left">
                    <h5>Владение</h5>
                    <div class="advertisement-about-left__block">
                        <p>Год выпуска</p>
                        <p>2021</p>
                    </div>
                    <div class="advertisement-about-left__block">
                        <p>Пробег</p>
                        <p>25321 км</p>
                    </div>
                    <div class="advertisement-about-left__block">
                        <p>Налог</p>
                        <p>120 byn в год</p>
                    </div>
                    <h5>Характеристики</h5>
                    <div class="advertisement-about-left__characteristics-block">
                        <div class="characteristics-block__left">
                            <img src="icons/engine_271914.png">
                        </div>
                        <div class="characteristics-block__right">
                            <p>Двигатель</p>
                            <h6>1.8 л, 145 л.с., бензин</h6>
                        </div>
                    </div>

                    <div class="advertisement-about-left__characteristics-block">
                        <div class="characteristics-block__left">
                            <img src="icons/geabox_18066120.png">
                        </div>
                        <div class="characteristics-block__right">
                            <p>Коробка</p>
                            <h6>Механическая</h6>
                        </div>
                    </div>

                    <div class="advertisement-about-left__characteristics-block">
                        <div class="characteristics-block__left">
                            <img src="icons/chassis_556947.png">
                        </div>
                        <div class="characteristics-block__right">
                            <p>Привод</p>
                            <h6>Передний</h6>
                        </div>
                    </div>

                    <div class="advertisement-about-left__characteristics-block">
                        <div class="characteristics-block__left">
                            <img src="icons/transport.png">
                        </div>
                        <div class="characteristics-block__right">
                            <p>Кузов</p>
                            <h6>Седан</h6>
                        </div>
                    </div>

                    <div class="advertisement-about-left__characteristics-block">
                        <div class="characteristics-block__left">
                            <img src="icons/brush_9873308.png">
                        </div>
                        <div class="characteristics-block__right">
                            <p>Цвет</p>
                            <h6>Синий</h6>
                        </div>
                    </div>

                    <button class="status-characteristics__btn">Статусные характеристики</button>
                </div>
                <div class="advertisement-about__right">
                    <div class="advertisement-about-right__main-photo">
                        <img src="img/a6-c8.jpg">
                        <div class="advertisement-about-right-main-photo__left-arrow"></div>
                        <div class="advertisement-about-right-main-photo__right-arrow"></div>
                    </div>
                    <div class="advertisement-about-right__additionally-photo">
                        <div class="advertisement-about-right-additionally-photo__block">
                            <img src="img/a6-c8.jpg">
                        </div>
                        <div class="advertisement-about-right-additionally-photo__block">
                            <img src="img/Audi_A6_45_TFSI_S_Line_C8_Daytona_Grey_Metallic_(2).jpg">
                        </div>
                        <div class="advertisement-about-right-additionally-photo__block">
                            <img src="img/TUVl6fZt9LWu6GoN0XsYB4DOywk-960.jpg">
                        </div>
                        <div class="advertisement-about-right-additionally-photo__block">
                            <img src="img/9021.jpg">
                        </div>
                        <div class="advertisement-about-right-additionally-photo__block">
                            <img src="img/a6 c7jpg.jpg">
                        </div>
                        <div class="advertisement-about-right-additionally-photo__block">
                            <img src="img/a6 c5.jpg">
                        </div>
                         <div class="advertisement-about-right-additionally-photo__block">
                            <img src="img/9021.jpg">
                        </div>
                        <div class="advertisement-about-right-additionally-photo__block">
                            <img src="img/a6 c7jpg.jpg">
                        </div>
                        <div class="advertisement-about-right-additionally-photo__block">
                            <img src="img/Audi_A6_45_TFSI_S_Line_C8_Daytona_Grey_Metallic_(2).jpg">
                        </div>
                        <div class="advertisement-about-right-additionally-photo__block">
                            <img src="img/TUVl6fZt9LWu6GoN0XsYB4DOywk-960.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="advertisement__right"></div>
    </div>
    <div class="divider"></div>

    <!-- Другие объявления -->
    <div class="list-of-cars">
        <div class="car">
            <div class="car-like">
                <button><img src="icons/icons8-сердце-50.png"></button>
            </div>
            <!-- <div class="car-recently-viewed">
                <p>Вы смотрели</p>
            </div> -->
            <img src="icons/a6 c5.jpg">
            <div class="car-img__slider">
                <img src="img/a6 c7jpg.jpg">
                <img src="img/a6-c8.jpg">
                <img src="img/Audi_A6_45_TFSI_S_Line_C8_Daytona_Grey_Metallic_(2).jpg">
                <img src="img/9021.jpg">
                <img src="img/TUVl6fZt9LWu6GoN0XsYB4DOywk-960.jpg">
                <div class="car-img-slider__buttons">
                    <div class="car-img-slider-button"></div>
                    <div class="car-img-slider-button"></div>
                    <div class="car-img-slider-button"></div>
                    <div class="car-img-slider-button"></div>
                    <div class="car-img-slider-button"></div>
                </div>
            </div>
            <h2>19235 BYN</h2>
            <h5>Lada (ВАЗ) Vesta Sport I</h5>
            <p>2020/29854 км</p>
        </div>

         <div class="car">
            <div class="car-like">
                <button><img src="icons/icons8-сердце-50.png"></button>
            </div>
            <!-- <div class="car-recently-viewed">
                <p>Вы смотрели</p>
            </div> -->
            <img src="icons/a6 c5.jpg">
            <div class="car-img__slider">
                <img src="img/a6 c7jpg.jpg">
                <img src="img/a6-c8.jpg">
                <img src="img/Audi_A6_45_TFSI_S_Line_C8_Daytona_Grey_Metallic_(2).jpg">
                <img src="img/9021.jpg">
                <img src="img/TUVl6fZt9LWu6GoN0XsYB4DOywk-960.jpg">
                <div class="car-img-slider__buttons">
                    <div class="car-img-slider-button"></div>
                    <div class="car-img-slider-button"></div>
                    <div class="car-img-slider-button"></div>
                    <div class="car-img-slider-button"></div>
                    <div class="car-img-slider-button"></div>
                </div>
            </div>
            <h2>19235 BYN</h2>
            <h5>Lada (ВАЗ) Vesta Sport I</h5>
            <p>2020/29854 км</p>
        </div>


        <div class="car">
            <div class="car-like">
                <button><img src="icons/icons8-сердце-50.png"></button>
            </div>
            <!-- <div class="car-recently-viewed">
                <p>Вы смотрели</p>
            </div> -->
            <img src="icons/a6 c5.jpg">
            <div class="car-img__slider">
                <img src="img/a6 c7jpg.jpg">
                <img src="img/a6-c8.jpg">
                <img src="img/Audi_A6_45_TFSI_S_Line_C8_Daytona_Grey_Metallic_(2).jpg">
                <img src="img/9021.jpg">
                <img src="img/TUVl6fZt9LWu6GoN0XsYB4DOywk-960.jpg">
                <div class="car-img-slider__buttons">
                    <div class="car-img-slider-button"></div>
                    <div class="car-img-slider-button"></div>
                    <div class="car-img-slider-button"></div>
                    <div class="car-img-slider-button"></div>
                    <div class="car-img-slider-button"></div>
                </div>
            </div>
            <h2>19235 BYN</h2>
            <h5>Lada (ВАЗ) Vesta Sport I</h5>
            <p>2020/29854 км</p>
        </div>



        <div class="car">
            <div class="car-like">
                <button><img src="icons/icons8-сердце-50.png"></button>
            </div>
            <!-- <div class="car-recently-viewed">
                <p>Вы смотрели</p>
            </div> -->
            <img src="icons/a6 c5.jpg">
            <div class="car-img__slider">
                <img src="img/a6 c7jpg.jpg">
                <img src="img/a6-c8.jpg">
                <img src="img/Audi_A6_45_TFSI_S_Line_C8_Daytona_Grey_Metallic_(2).jpg">
                <img src="img/9021.jpg">
                <img src="img/TUVl6fZt9LWu6GoN0XsYB4DOywk-960.jpg">
                <div class="car-img-slider__buttons">
                    <div class="car-img-slider-button"></div>
                    <div class="car-img-slider-button"></div>
                    <div class="car-img-slider-button"></div>
                    <div class="car-img-slider-button"></div>
                    <div class="car-img-slider-button"></div>
                </div>
            </div>
            <h2>19235 BYN</h2>
            <h5>Lada (ВАЗ) Vesta Sport I</h5>
            <p>2020/29854 км</p>
        </div>

         <div class="car">
            <div class="car-like">
                <button><img src="icons/icons8-сердце-50.png"></button>
            </div>
            <!-- <div class="car-recently-viewed">
                <p>Вы смотрели</p>
            </div> -->
            <img src="icons/a6 c5.jpg">
            <div class="car-img__slider">
                <img src="img/a6 c7jpg.jpg">
                <img src="img/a6-c8.jpg">
                <img src="img/Audi_A6_45_TFSI_S_Line_C8_Daytona_Grey_Metallic_(2).jpg">
                <img src="img/9021.jpg">
                <img src="img/TUVl6fZt9LWu6GoN0XsYB4DOywk-960.jpg">
                <div class="car-img-slider__buttons">
                    <div class="car-img-slider-button"></div>
                    <div class="car-img-slider-button"></div>
                    <div class="car-img-slider-button"></div>
                    <div class="car-img-slider-button"></div>
                    <div class="car-img-slider-button"></div>
                </div>
            </div>
            <h2>19235 BYN</h2>
            <h5>Lada (ВАЗ) Vesta Sport I</h5>
            <p>2020/29854 км</p>
        </div>

         <div class="car">
            <div class="car-like">
                <button><img src="icons/icons8-сердце-50.png"></button>
            </div>
            <div class="car-recently-viewed">
                <p>Вы смотрели</p>
            </div>
            <img src="icons/a6 c5.jpg">
            <div class="car-img__slider">
                <img src="img/a6 c7jpg.jpg">
                <img src="img/a6-c8.jpg">
                <img src="img/Audi_A6_45_TFSI_S_Line_C8_Daytona_Grey_Metallic_(2).jpg">
                <img src="img/9021.jpg">
                <img src="img/TUVl6fZt9LWu6GoN0XsYB4DOywk-960.jpg">
                <div class="car-img-slider__buttons">
                    <div class="car-img-slider-button"></div>
                    <div class="car-img-slider-button"></div>
                    <div class="car-img-slider-button"></div>
                    <div class="car-img-slider-button"></div>
                    <div class="car-img-slider-button"></div>
                </div>
            </div>
            <h2>19235 BYN</h2>
            <h5>Lada (ВАЗ) Vesta Sport I</h5>
            <p>2020/29854 км</p>
        </div>

    </div>

    <!-- Модальное окно показа номера телефона  -->
    <div class="show-phone-number__overlay">
        <div class="show-phone-number">
            <div class="show-phone-number__top">
                <div class="show-phone-number-top__title">
                    <div class="show-phone-number-top-title__left">
                        <p>Владислав</p>
                        <p>Частное лицо</p>
                    </div>
                    <div class="show-phone-number-top-title__right">
                        <img src="icons/channels4_profile.jpg">
                    </div>
                </div>
                <div class="show-phone-number-top__first-block">
                    <div class="show-phone-number-top__phone">
                        <div class="show-phone-number-top-phone__left">
                            <h1>+375-(33)-333-33-02</h1>
                            <p>с 10:00 до 19:00</p>
                        </div>
                        <div class="show-phone-number-top-phone__right">
                            <img src="img/icons8-qr-код-64.png">
                            <p>Наведите на QR-код камеру телефона, чтобы позвонить</p>
                        </div>
                    </div>
                    <div class="show-phone-number-top__warning">
                        <div class="show-phone-number-top-warning__left">
                            <img src="icons/exclamation-mark.svg">
                        </div>
                        <div class="show-phone-number-top-warning__right">
                            <p>Внимание</p>
                            <p>Приобретая ТС, никогда не отправляйте предоплату</p>
                        </div>
                    </div>
                </div>
                <div class="show-phone-number-top__second-block">
                    <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A33ac79e35e77badbc088f4ad24559105e2afed1e8b6f076ee91c0446279b668f&amp;source=constructor" width="560" height="300" frameborder="0"></iframe>
                    <a href="https://taxi.yandex.ru/" class="show-phone-number-top-second-block__yandex">
                        <img src="icons/yandex-svg-icon.png">Доехать с Яндекс такси
                    </a>
                    <button class="show-phone-number-top-second-block__back">Показать телефон</button>
                </div>
                <div class="divider-show-phone"></div>
                <button class="show-phone-number-top__btn">Минск, ул. Михаила Крыжаноускага</button>
            </div>
            <div class="show-phone-number__bottom">
                <div class="show-phone-number-bottom__container">
                    <div class="show-phone-number-bottom__img">
                        <img src="img/a6-c8.jpg">
                    </div>
                    <div class="show-phone-number-bottom__brand">
                        <h5>Lada (ВАЗ) Vesta Sport I</h5>
                        <p>1.8 л / 145 л.с. / Бензин</p>
                        <p>седан</p>
                        <p>синий</p>
                    </div>
                    <div class="show-phone-number-bottom__price">
                        <h5>23 586 BYN</h5>
                        <p>Механика</p>
                        <p>Передний</p>
                    </div>
                    <div class="show-phone-number-bottom__buttons">
                        <button><img src="icons/block.png"></button>
                        <button><img src="icons/health.png"></button>
                    </div>
                </div>
                <div class="show-phone-number-bottom__input">
                    <input placeholder="Заметка об этом автомобиле (её увидите только Вы)">
                </div>  
            </div>
        </div>
        <button class="show-phone-number__overlay-btn">X</button>
    </div>
    
    <div class="car-photo__modal">
        <button class="car-photo-modal__close-btn">X</button>
        <div class="car-photo-modal__left">
            <div class="car-photo-modal-left__top-button">
                <div class="car-photo-modal-left-top-button__button"></div>
            </div>
            <div class="car-photo-modal-left__photos-container">
                <div class="car-photo-modal-left__photos">
                    <div class="car-photo-modal-left__photo">
                        <img src="img/9021.jpg">
                    </div>
                    <div class="car-photo-modal-left__photo">
                        <img src="img/TUVl6fZt9LWu6GoN0XsYB4DOywk-960.jpg">
                    </div>
                    <div class="car-photo-modal-left__photo">
                        <img src="img/a6-c8.jpg">
                    </div>
                    <div class="car-photo-modal-left__photo">
                        <img src="img/a6-c8.jpg">
                    </div>
                    <div class="car-photo-modal-left__photo">
                        <img src="img/a6-c8.jpg">
                    </div>
                    <div class="car-photo-modal-left__photo">
                        <img src="img/a6-c8.jpg">
                    </div>
                    <div class="car-photo-modal-left__photo">
                        <img src="img/a6-c8.jpg">
                    </div>
                    <div class="car-photo-modal-left__photo">
                        <img src="img/a6-c8.jpg">
                    </div>
                    <div class="car-photo-modal-left__photo">
                        <img src="img/a6-c8.jpg">
                    </div>
                    <div class="car-photo-modal-left__photo">
                        <img src="img/a6 c7jpg.jpg">
                    </div>
                </div>
            </div>
            <div class="car-photo-modal-left__bottom-button">
                <div class="car-photo-modal-left-bottom-button__button"></div>
            </div>
        </div>
        <div class="car-photo-modal__middle">
            <img src="img/9021.jpg">
            <img src="img/TUVl6fZt9LWu6GoN0XsYB4DOywk-960.jpg">
            <img src="img/a6-c8.jpg">
            <img src="img/a6 c7jpg.jpg">
        </div>
        <div class="car-photo-modal__right">
            <h2>23 555 BYN</h2>
            <p>Audi S6 III (c6), 2007г</p>
            <p>220 000 км</p>
            <div class="car-photo-modal-right__number">
                <h5>+375-(33)-333-33-02</h5>
                <p>Круглосуточно</p>
            </div>
            <button><img src="">Написать</button>
        </div>
    </div>


    <div class="callback__overlay">
        <button class="callback__close-btn">X</button>
        <div class="callback__modal">
            <h2>Обратный звонок</h2>
            <p>ШикАвто Минск • Работает c 10:00 до 19:00</p>
            <input class="callback-modal__call-time" readonly>
            <div class="callback-modal-call-time__modal">
                <p>Сегодня</p>
                    <div class="callback-modal-call-time-modal__modal-today">
                    <p>Как можно скорее</p>
                    <p>с 16:00 до 19:00</p>
                </div>
                <div class="callback-modal-call-time__modal-divider">
                    <p>с 10:00 до 13:00</p>
                    <p>с 13:00 до 16:00</p>
                    <p>с 16:00 до 19:00</p>
                </div>
            </div>
            <input class="callback-modal__phone-number" readonly>
            <button class="callback-modal__confirm">
                Подтвердить номер
            </button>
            <p>Отправляя заявку, я соглашаюсь с условиями <a href="#">пользовательского соглашения</a></p>
        </div>
    </div>
    <script src="car.js"></script>
</body>
</html>