{% extends "base.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static "css/home.css" %}">
{% endblock extra_css %}


{% block content %}
    <main class="main">
        <div class="container-car-search container">
            <div class="container-car-search_h">
                <h6 class="container-car-search__h6">От практичного до премиального — статус решает, авто подтверждает.</h6>
                <h1 class="container-car-search__h1">Найди автомобиль своей мечты</h1>
            </div>
            <form id="carSearchForm">
                <div class="car-search__form">
                    <div class="car-search-form__div-1">
                        <label for="used-cars">Новые / С пробегом: </label>
                        <input id="used-cars" readonly>
                        <div class="div-1__modal"></div>
                    </div>
                    <div class="divider"></div>
                    <div class="car-search-form__div-2">
                        <label for="any-makes">Марка авто: </label>
                        <input id="any-makes" readonly>
                        <div class="div-2__modal"></div>
                    </div>
                    <div class="divider"></div>
                    <div class="car-search-form__div-3">
                        <label for="any-models">Модель авто: </label>
                        <input id="any-models" readonly>
                        <div class="div-3__modal"></div>
                    </div>
                    <div class="divider"></div>
                    <div class="car-search-form__div-4">
                        <label for="all-prices">Цены: </label>
                        <input id="all-prices" readonly>
                        <div class="div-4__modal"></div>
                    </div>
                    <div class="car-search-form__button">
                        <button type="submit"><img src="{% static "icons/Icon.png" %}" alt="Поиск"></button>
                    </div>
                </div>
            </form>
            <div class="container-car-search__car">
                <img src="{% static "img/slider51.png" %}" alt="Автомобиль">
            </div>
             <div class="car-search-modal">
                <div class="car-search-modal-container container">
                    <div class="car-search__div-1">
                    <button class="car-search__all-button">Все</button>
                    <button class="car-search__new-button">Новые</button>
                    <button class="car-search__old-button">С пробегом</button>
                    </div>
                    <div class="car-search__div-2">
                        <div class="car-search-div__find">
                            <label id="car-search-marka">
                            <img src="{% static "icons/icons8-поиск-50.png" %}" width="20" height="20" alt="Поиск">
                            </label>
                            <input 
                            type="text" 
                            id="brand-input"
                            class="car-search-input"
                            pattern="[A-Za-zА-Яа-яЁё\s-]+"
                            title="Только буквы, пробелы и дефисы"
                            placeholder="Например: Porcshe"
                            form="carSearchForm"
                            >
                        </div>
                        <h6>Популярные запросы</h6>
                        <div class="car-search-div__popular">
                            <a href="#" class="brand-tag">Лада</a>
                            <a href="#" class="brand-tag">Peugeot</a>
                            <a href="#" class="brand-tag">Пыжик</a>
                            <a href="#" class="brand-tag">Porsche</a>
                            <a href="#" class="brand-tag">Renault</a>
                        </div>
                    </div>
                    <div class="car-search__div-3">
                        <div class="car-search-div__find">
                            <label>
                            <img src="{% static "icons/icons8-поиск-50.png" %}" width="20" height="20" alt="Поиск">
                            </label>
                            <input 
                            type="text" 
                            id="model-input"
                            class="car-search-input"
                            pattern="[A-Za-zА-Яа-яЁё0-9\s-]+"
                            title="Буквы, цифры, пробелы и дефисы"
                            placeholder="Например: Cayenne"
                            form="carSearchForm"
                            >
                        </div>
                        <h6>Популярные запросы</h6>
                        <div class="car-search-div__popular">
                            <a href="#" class="model-tag">Каен</a>
                            <a href="#" class="model-tag">Ларгус</a>
                            <a href="#" class="model-tag">Приора</a>
                            <a href="#" class="model-tag">X5</a>
                            <a href="#" class="model-tag">Lodgy</a>
                        </div>
                    </div>
                    <div class="car-search__div-4">
                        <div class="car-search-div-prices">
                            <div class="car-search-div-price">
                                <label></label>
                                <input placeholder="Цена от, BYN" readonly form="carSearchForm">
                                <div class="car-search-div-price-select">
                                    <div class="price-select__item">10.000</div>
                                    <div class="price-select__item">15.000</div>
                                    <div class="price-select__item">20.000</div>
                                    <div class="price-select__item">25.000</div>
                                    <div class="price-select__item">30.000</div>
                                    <div class="price-select__item">50.000</div>
                                    <div class="price-select__item">70.000</div>
                                    <div class="price-select__item">75.000</div>
                                    <div class="price-select__item">80.000</div>
                                    <div class="price-select__item">100.000</div>
                                    <div class="price-select__item">125.000</div>
                                    <div class="price-select__item">155.000</div>
                                    <div class="price-select__item">200.000</div>
                                </div>
                            </div>
                            <div class="car-search-div-price">
                                <label></label>
                                <input placeholder="до" readonly form="carSearchForm">
                                <div class="car-search-div-price-select-two">
                                    <div class="price-select__item">10.000</div>
                                    <div class="price-select__item">15.000</div>
                                    <div class="price-select__item">20.000</div>
                                    <div class="price-select__item">25.000</div>
                                    <div class="price-select__item">30.000</div>
                                    <div class="price-select__item">50.000</div>
                                    <div class="price-select__item">70.000</div>
                                    <div class="price-select__item">75.000</div>
                                    <div class="price-select__item">80.000</div>
                                    <div class="price-select__item">100.000</div>
                                    <div class="price-select__item">125.000</div>
                                    <div class="price-select__item">155.000</div>
                                    <div class="price-select__item">200.000</div>
                                </div>
                            </div>
                        </div>
                        <div class="car-search-div-prices">
                            <div class="car-search-div-price">
                                <input placeholder="2025" readonly form="carSearchForm">
                                <label></label>
                                <div class="car-search-div-price-year">
                                    <div class="price-select__item">2010</div>
                                    <div class="price-select__item">2011</div>
                                    <div class="price-select__item">2012</div>
                                    <div class="price-select__item">2013</div>
                                    <div class="price-select__item">2014</div>
                                    <div class="price-select__item">2015</div>
                                    <div class="price-select__item">2016</div>
                                    <div class="price-select__item">2017</div>
                                    <div class="price-select__item">2018</div>
                                    <div class="price-select__item">2019</div>
                                    <div class="price-select__item">2020</div>
                                    <div class="price-select__item">2021</div>
                                    <div class="price-select__item">2022</div>
                                </div>
                            </div>
                            <div class="car-search-div-price">
                                <input placeholder="2025" readonly form="carSearchForm">
                                <label></label>
                                <div class="car-search-div-price-year-two">
                                    <div class="price-select__item">2010</div>
                                    <div class="price-select__item">2011</div>
                                    <div class="price-select__item">2012</div>
                                    <div class="price-select__item">2013</div>
                                    <div class="price-select__item">2014</div>
                                    <div class="price-select__item">2015</div>
                                    <div class="price-select__item">2016</div>
                                    <div class="price-select__item">2017</div>
                                    <div class="price-select__item">2018</div>
                                    <div class="price-select__item">2019</div>
                                    <div class="price-select__item">2020</div>
                                    <div class="price-select__item">2021</div>
                                    <div class="price-select__item">2022</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <section class="section-browse-your-type">
        <div class="container-browse-your-type container">
            <h2>Выбор по типу</h2>
            <div class="browse-your-type__blocks">
            <a class="browse-your-type__block" href="#">
                <img src="{% static "icons/SVU.png" %}" width="34" height="34" alt="SUV">
                <p>SUV</p>
            </a>
            <a class="browse-your-type__block" href="#">
                <img src="{% static "icons/SEDAN.png" %}" width="34" height="34" alt="Седан">
                <p>Седан</p>
            </a>
            <a class="browse-your-type__block" href="#">
                <img src="{% static "icons/HATCHBACK.png" %}" width="34" height="34" alt="Хэтчбэк">
                <p>Хэтчбэк</p>
            </a>
            <a class="browse-your-type__block" href="#">
                <img src="{% static "icons/COUPE.png" %}" width="34" height="34" alt="Купе">
                <p>Купе</p>
            </a>
            <a class="browse-your-type__block" href="#">
                <img src="{% static "icons/CABRIOLET.png" %}" width="34" height="34" alt="Кабриолет">
                <p>Кабриолет</p>
            </a>
            <a class="browse-your-type__block" href="#">
                <img src="{% static "icons/transport.png" %}" width="34" height="34" alt="Универсал">
                <p>Универсал</p>
            </a>
            <a class="browse-your-type__block" href="#">
                <img src="{% static "icons/VAN.png" %}" width="34" height="34" alt="Фургон">
                <p>Фургон</p>
            </a>
            <a class="browse-your-type__block" href="#">
                <img src="{% static "icons/icons8-пикап-64.png" %}" width="34" height="34" alt="Пикап">
                <p>Пикап</p>
            </a>
            <a class="browse-your-type__block" href="#">
                <img src="{% static "icons/free-icon-minivan-7281683.png" %}" width="34" height="34" alt="Минивэн">
                <p>Минивэн</p>
            </a>
            </div>
        </div>
    </section>
    <section class="section-choose-your-one">
        <div class="container-choose-your-one container">
            <div class="choose-your-one__left">
                <h3>Желаете приобрести <br>авто?</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi ea harum minus voluptatibus ex, quis fugiat reiciendis delectus aperiam quos, nulla minima maxime magnam deserunt, iure blanditiis recusandae inventore eius?</p>
                <div class="choose-your-one__a-left">
                    <a href="#">Найти авто
                        <img src="{% static "icons/arrow.png" %}">
                    </a>
                    <img src="{% static "icons/arrow.png" %}">
                </div>
                <div class="choose-your-one__img">
                    <img src="{% static "img/electric-car.svg.png" %}">
                </div>
            </div>
            <div class="choose-your-one__right">
                <h3>Хотите выставить авто<br> на продажу?</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque, enim! Dolorem alias corporis incidunt, architecto magni enim asperiores nisi ipsa illo facere repellendus necessitatibus, quae voluptatum dicta praesentium veritatis repellat.</p>
                <div class="choose-your-one__a-right">
                    <a href="#">Продать авто
                        <img src="{% static "icons/arrow.png" %}">
                    </a>
                </div>
                <div class="choose-your-one__img">
                    <img src="{% static "img/electric-car2.svg fill.png" %}">
                </div>
            </div>
        </div>
    </section>
    <section class="section-the-most-searched-cars">
        <div class="container-the-most-searched-cars container">
            <h2 class="container-the-most-searched-cars__h2">Автомобили, которые чаще всего ищут</h2>
            <div class="the-most-searched-cars__bodies">
                <button class="the-most-searched-cars__button the-most-searched-cars__button-active">SUV</button>
                <button class="the-most-searched-cars__button">Седан</button>
                <button class="the-most-searched-cars__button">Хэтчбэк</button>
                <button class="the-most-searched-cars__button">Универсал</button>
            </div>
            <div class="the-most-searched-cars__divider"></div>
            <div class="the-most-searched-cars__slider">
                <div class="the-most-searched-cars__card">
                    <img src="{% static "img/car-1.png" %}">
                    <div class="searched-cars__card-text">
                        <h5>Ford Transit - 2021</h5>
                        <p>D5 объёмом 4.0 литра, с технологией PowerPulse, в комплектации Momentum, 5-дверный, с полным приводом.</p>
                    </div>
                    <div class="searched-cars__divider"></div>
                    <div class="searched-cars__card-additional">
                        <div class="card-additional__block">
                            <img src="{% static "icons/speedmetr.png" %}" width="20" height="20">
                            <p>2500 км.</p>
                        </div>
                        <div class="card-additional__block">
                            <img src="{% static "icons/typefuel.png" %}" width="20" height="20">
                            <p>Дизель</p>
                        </div>
                        <div class="card-additional__block">
                            <img src="{% static "icons/box.png" %}" width="20" height="20">
                            <p>Механика</p>
                        </div>
                    </div>
                    <div class="searched-cars__divider"></div>
                    <div class="searched-card__price">
                        <p>75000 BYN</p>
                        <a href="#">Подробнее<img src="icons/arrow.png"></a>
                    </div>
                </div>
                <div class="the-most-searched-cars__card">
                    <img src="{% static "img/car-2.png" %}">
                    <div class="searched-cars__card-text">
                        <h5>Volkswagen Tiguan - 2019</h5>
                        <p>Бензиновый 2.0 TSI, комплектация Highline, 5-дверный, полный привод, автоматическая коробка передач.</p>
                    </div>
                    <div class="searched-cars__divider"></div>
                    <div class="searched-cars__card-additional">
                        <div class="card-additional__block">
                        <img src="{% static "icons/speedmetr.png" %}" width="20" height="20">
                        <p>65 000 км</p>
                        </div>
                        <div class="card-additional__block">
                        <img src="{% static "icons/typefuel.png" %}" width="20" height="20">
                        <p>Бензин</p>
                        </div>
                        <div class="card-additional__block">
                        <img src="{% static "icons/box.png" %}" width="20" height="20">
                        <p>Автомат</p>
                        </div>
                    </div>
                    <div class="searched-cars__divider"></div>
                    <div class="searched-card__price">
                        <p>58 500 BYN</p>
                        <a href="#">Подробнее<img src="{% static "icons/arrow.png" %}" alt=""></a>
                    </div>
                </div>
                <div class="the-most-searched-cars__card">
                    <img src="{% static "img/car-2.png" %}">
                    <div class="searched-cars__card-text">
                        <h5>Volkswagen Tiguan - 2019</h5>
                        <p>Бензиновый 2.0 TSI, комплектация Highline, 5-дверный, полный привод, автоматическая коробка передач.</p>
                    </div>
                    <div class="searched-cars__divider"></div>
                    <div class="searched-cars__card-additional">
                        <div class="card-additional__block">
                        <img src="{% static "icons/speedmetr.png" %}" width="20" height="20">
                        <p>65 000 км</p>
                        </div>
                        <div class="card-additional__block">
                        <img src="{% static "icons/typefuel.png" %}" width="20" height="20">
                        <p>Бензин</p>
                        </div>
                        <div class="card-additional__block">
                        <img src="{% static "icons/box.png" %}" width="20" height="20">
                        <p>Автомат</p>
                        </div>
                    </div>
                    <div class="searched-cars__divider"></div>
                    <div class="searched-card__price">
                        <p>58 500 BYN</p>
                        <a href="#">Подробнее<img src="{% static "icons/arrow.png" %}" alt=""></a>
                    </div>
                </div>
                <div class="the-most-searched-cars__card">
                    <img src="{% static "img/car-3.png" %}">
                    <div class="searched-cars__card-text">
                        <h5>BMW X5 - 2020</h5>
                        <p>Бензиновый 3.0 TwinPower Turbo, комплектация M Sport, 5-дверный, полный привод, автомат.</p>
                    </div>
                    <div class="searched-cars__divider"></div>
                    <div class="searched-cars__card-additional">
                        <div class="card-additional__block">
                        <img src="{% static "icons/speedmetr.png" %}" width="20" height="20">
                        <p>65 111 км</p>
                        </div>
                        <div class="card-additional__block">
                        <img src="{% static "icons/typefuel.png" %}" width="20" height="20">
                        <p>Гибрид</p>
                        </div>
                        <div class="card-additional__block">
                        <img src="{% static "icons/box.png" %}" width="20" height="20">
                        <p>Автомат</p>
                        </div>
                    </div>
                    <div class="searched-cars__divider"></div>
                    <div class="searched-card__price">
                        <p>250 500 BYN</p>
                        <a href="#">Подробнее<img src="{% static "icons/arrow.png" %}" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="searched-cars__card-buttons">
                <button class="searched-cars-button__left"><img src="{% static "icons/arrow-left.png" %}"></button>
                <button class="searched-cars-button__right"><img src="{% static "icons/arrow-right.png" %}"></button>
            </div>
        </div>
    </section>
    <section class="section-why-choose-us">
        <div class="container-why-choose-us container">
            <h2>Почему Стоит Выбрать Нас?</h2>
            <div class="container-why-choose-us__blocks">
                <div class="container-why-choose-us__block">
                    <img src="{% static "" %}">
                    <h3>Лучшие ценовые предложения РБ</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis, dolor a ex.</p>
                </div>
                <div class="container-why-choose-us__block">
                    <img src="{% static "icons/choose-us__2.png" %}">
                    <h3>Проверенные продавцы</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis, dolor a ex.</p>
                </div>
                <div class="container-why-choose-us__block">
                    <img src="{% static "icons/choose-us__3.png" %}">
                    <h3>Анализ истории авто</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis, dolor a ex.</p>
                </div>
                <div class="container-why-choose-us__block">
                    <img src="{% static "icons/choose-us__4.png" %}">
                    <h3>Максим лучший</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis, dolor a ex.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="section-latest-cars">
        <div class="container-latest-cars container">
            <h2>Недавно просмотренные</h2>
            <div class="latest-cars__slider">
                <div class="latest-cars__card">
                    <img src="{% static "img/car-1.png" %}">
                    <div class="latest-cars__card-text">
                    <h5>Mercedes GLC - 2022</h5>
                    <p>2.0 дизель, полный привод, автомат, AMG.</p>
                    </div>
                    <div class="latest-cars__divider-inner"></div>
                    <div class="latest-cars__card-additional">
                    <div class="latest-card-additional__block">
                        <img src="{% static "icons/speedmetr.png" %}" width="20" height="20">
                        <p>15 000 км</p>
                    </div>
                    <div class="latest-card-additional__block">
                        <img src="{% static "icons/typefuel.png" %}" width="20" height="20">
                        <p>Дизель</p>
                    </div>
                    <div class="latest-card-additional__block">
                        <img src="{% static "icons/box.png" %}" width="20" height="20">
                        <p>Автомат</p>
                    </div>
                    </div>
                    <div class="latest-cars__divider-inner"></div>
                    <div class="latest-card__price">
                    <p>89 000 BYN</p>
                    <a href="#">Подробнее<img src="{% static "icons/arrow.png" %}" alt=""></a>
                    </div>
                </div>
                <div class="latest-cars__card">
                    <img src="{% static "img/car-3__latest.png" %}">
                    <div class="latest-cars__card-text">
                    <h5>Audi A6 C6 RS6 - 2008</h5>
                    <p>4.0 бензин, полный привод, 580 л.с.</p>
                    </div>
                    <div class="latest-cars__divider-inner"></div>
                    <div class="latest-cars__card-additional">
                    <div class="latest-card-additional__block">
                        <img src="{% static "icons/speedmetr.png" %}" width="20" height="20">
                        <p>15 000 км</p>
                    </div>
                    <div class="latest-card-additional__block">
                        <img src="{% static "icons/typefuel.png" %}" width="20" height="20">
                        <p>Дизель</p>
                    </div>
                    <div class="latest-card-additional__block">
                        <img src="{% static "icons/box.png" %}" width="20" height="20">
                        <p>Автомат</p>
                    </div>
                    </div>
                    <div class="latest-cars__divider-inner"></div>
                    <div class="latest-card__price">
                    <p>89 000 BYN</p>
                    <a href="#">Подробнее<img src="{% static "icons/arrow.png" %}" alt=""></a>
                    </div>
                </div>
                <div class="latest-cars__card">
                    <img src="{% static "img/car-2__latest.png" %}">
                    <div class="latest-cars__card-text">
                    <h5>Lada Vesta Long - 2025</h5>
                    <p>2.0 дизель, полный привод, автомат, AMG.</p>
                    </div>
                    <div class="latest-cars__divider-inner"></div>
                    <div class="latest-cars__card-additional">
                    <div class="latest-card-additional__block">
                        <img src="{% static "icons/speedmetr.png" %}" width="20" height="20">
                        <p>15 000 км</p>
                    </div>
                    <div class="latest-card-additional__block">
                        <img src="{% static "icons/typefuel.png" %}" width="20" height="20">
                        <p>Дизель</p>
                    </div>
                    <div class="latest-card-additional__block">
                        <img src="{% static "icons/box.png" %}" width="20" height="20">
                        <p>Автомат</p>
                    </div>
                    </div>
                    <div class="latest-cars__divider-inner"></div>
                    <div class="latest-card__price">
                    <p>99 999 BYN</p>
                    <a href="#">Подробнее<img src="{% static "icons/arrow.png" %}" alt=""></a>
                    </div>
                </div>
                </div>
                <div class="latest-cars__card-buttons">
                <button class="latest-cars-button__left"><img src="{% static "icons/arrow-left.png" %}"></button>
                <button class="latest-cars-button__right"><img src="{% static "icons/arrow-right.png" %}"></button>
            </div>
        </div>
    </section>
    <section class="section-not-sure-what-to-choose">
        <div class="container-not-sure-what-to-choose container">
            <p>Не до конца уверены в выборе?</p>
            <h2>Посмотрите Отзывы!</h2>
            <div class="not-sure-what-to-choose__articles">
                <a href="#" class="not-sure-what-to-choose__article">SUVs</a>
                <a href="#" class="not-sure-what-to-choose__article">Электрические машины</a>
                <a href="#" class="not-sure-what-to-choose__article">Чанган рвет рынок</a>
                <a href="#" class="not-sure-what-to-choose__article">Потек сальник в MB 100</a>
                <a href="#" class="not-sure-what-to-choose__article">BMW I230 - провал</a>
                <a href="#" class="not-sure-what-to-choose__article">Donfeng ix7 достойный 7-ми местник</a>
            </div>
        </div>
    </section>
    <section class="section-who-is-statuscar">
        <div class="container-who-is-statuscar">
            <div class="who-is-statuscar__intro">
                <h2>С STATUSCAR Сотрудничают:</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid minima exercitationem blanditiis. Enim, dignissimos? Est voluptas aperiam distinctio!</p>
            </div>
            <div class="who-is-statuscar__sites">
                <div class="who-is-statuscar__site">
                    <h6><span>Audi</span> Центр Минск</h6>
                    <div class="who-is-statuscar-site__stars">★★★★★</div>
                    <p>сновано на 5008 отзывах</p>
                    <img src="{% static "img/Yandex.png" %}" width="50" height="50" alt="Yandex logo">
                </div>

                <div class="who-is-statuscar__site">
                    <h6>ALEKSEEV | SPIRIDONOV</h6>
                    <div class="who-is-statuscar-site__stars">★★★★★</div>
                    <p>сновано на 200 отзывах</p>
                    <img src="{% static "img/Yandex.png" %}" width="50" height="50" alt="Yandex logo">
                </div>
                
                <div class="who-is-statuscar__site">
                    <h6>Профсоюз цент. р-н.</h6>
                    <div class="who-is-statuscar-site__stars">★★★★★</div>
                    <p>Основано на 1 отзыве</p>
                    <img src="{% static "img/Yandex.png" %}" width="50" height="50" alt="Yandex logo">
                </div>
            </div>
        </div>
    </section>
    <section class="section-last-news">
        <div class="contaner-last-news container">
            <h2>Актуальные Новости</h2>
            <div class="last-news__blocks">
                <div class="last-news-block">
                    <img src="{% static "img/news__1.png" %}">
                    <div class="last-news__whos">
                        <p>Admin</p>
                        <p>Ноябрь 22, 2025</p>
                    </div>
                    <h6>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa possimus blanditiis amet dolores eaque.</h6>
                </div>
                <div class="last-news-block">
                    <img src="{% static "img/news__2.png" %}">
                    <div class="last-news__whos">
                        <p>Абрам</p>
                        <p>Ноябрь 22, 2005</p>
                    </div>
                    <h6>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa possimus blanditiis amet dolores eaque.</h6>
                </div>
            </div>
        </div>
    </section>
    <section class="section-our-premium-brands">
        <div class="container-our-premium-brands container">
            <div class="our-premium-brands__left">
                <h2>Изучите Наши<br> Премиальные Марки Авто</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <a href="#" class="our-premium-brands__a">Посмотреть наши бренды<img src="{% static "icons/arrow.png" %}"></a>
            </div>
            <div class="our-premium-brands__right">
                <img src="{% static "img/logo-brand.png.png" %}">
                <div class="our-premium-brands__logo">
                    <p>STATUSCAR</p>
                </div>
            </div>
        </div>
    </section>
    <section class="section-join-to-us">
        <div class="container-join-to-us container">
            <h3>Присоединитесь к STATUSCAR</h3>
            <p>Получайте уникальные предложения, вкусные цены, и прочую хуйню!</p>
            <div class="join-to-us__block">
                <div class="join-to-us__block-input">
                    <label id="main_email"></label>
                    <input type="email"  name="email_guest_from_main_page" placeholder="Введите свою почту" autocomplete="email" for="main_email">
                </div>
                <button form="carSearchForm">Подписаться</button>
            </div>
        </div>
    </section>
{% endblock content %}    
{% block extra_js %}<script src="{% static "js/home.js" %}"></script>{% endblock extra_js %}